
# Supabase Configurations
NEXT_PUBLIC_SUPABASE_URL=https://xkijcicyjzdrnruoasyy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# GEMINI API Key
GEMINI_API_KEY=

# SMTP Configurations (Optional)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
